.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
  height: 100vh;
}

.portfolio_item {
  background: #061619;
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid;
  transition: var(--transition);
  text-align: center;
}

.portfolio_item:hover {
  border-color: #6824ac;
  background: transparent;
}

.portfolio__item-image {
  border-radius: 0.5rem;
  overflow: hidden;
  height: 60%;
}

.portfolio__item h3 {
  margin: 1.2rem 0 2rem;
}

.portfolio__item h4 {
  font-size: 0.8rem;
  margin: 1.2rem 0 2rem;
}

.btn-lit {
  width: max-content;
  display: inline-block;
  color: var(--color-bg);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid var(--color-primary);
  transition: var(--transition);
  background: var(--color-primary);
  margin-left: 25%;
}

.btn-lit:hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

.portfolio__item-cta {
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
  margin: auto;
  margin-left: 11%;
}

/* =========================== MEDIA QUERIES (MEDIUM DEVICES aka TABLETS) ================================== */

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* =========================== MEDIA QUERIES (SMALL DEVICES aka MOBILE PHONES) ================================== */

@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
