#contact {
  background-color: #060709;
}
.container.contact__container {
  width: 58%;
  display: grid;
  grid-template-columns: 38% 58%;
  gap: 12%;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.contact__option {
  background: #161637;
  padding: 1.2rem;
  border-radius: 1.2rem;
  text-align: center;
  border: 1 pix solid transparent;
  transition: var(--transition);
}

.contact__option:hover {
  background: transparent;
  border-color: #1c6a78;
}

.contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact__option a {
  color: #6868f1;
  margin-top: 0.7rem;
  display: inline-block;
  font-size: 0.8rem;
  font-weight: bolder;
}

/** =================================  FORM =================================== **/
form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

input,
textarea {
  width: 100%;
  padding: 1.5rem;
  border-radius: 0.5rem;
  background: transparent;
  border: 1px solid #161637;
  resize: none;
  color: white;
  background-color: #161637;
  font-weight: bolder;
  transition: var(--transition);
}

input :hover,
textarea :hover {
  background: var(--color-white);
  color: var(--color-bg);
  border-color: transparent;
}

textarea {
  font-size: 1rem;
  font-weight: bolder;
}
